[!General]

## Text to display as crosshair (use \n for new line)
# Setting type: String
# Default value: -  +  -
CrossHairText = -  +  -

## Size of the crosshair
# Setting type: Single
# Default value: 40
CrossHairSize = 40

## Whether to display a shadow behind the crosshair
# Setting type: Boolean
# Default value: true
CrossHairShadow = true

[Appearance]

## Color of the crosshair in hexadecimal (Do not include the #)
# Setting type: String
# Default value: ffffff
CrossHairColor = ffffff

## Opacity of the crosshair (0 to 100)%
# Setting type: Int32
# Default value: 80
CrossHairOpacity = 80

