## Settings file was created by plugin loaforcsSoundAPI v1.0.6
## Plugin GUID: me.loaforc.soundapi

[SoundLoading]

## Whether or not to use multithreading when loading a sound pack. If you haven't been told that you should disable multithreading, you probably don't need to!
## This setting may not be needed with the new 1.0.0 rewrite of multithreading.
# Setting type: Boolean
# Default value: true
Multithreading = true

## Max amount of threads the loading thread pool can create at once.
## Increasing this number will decrease loading of non-startup packs but may be unsupported by your CPU.
# Setting type: Int32
# Default value: 32
MaxThreadsInThreadPool = 32

