## Settings file was created by plugin Flashcard v0.3.2
## Plugin GUID: me.loaforc.Flashcard

[Debugging]

## Whether flashcard should increase it's logs. Useful for debugging issues.
# Setting type: Boolean
# Default value: false
VerboseLogging = false

[Recording]

## How many seconds should the camera be allowed to record?
## ContentWarning's default is 90.
# Setting type: Single
# Default value: 120
ClipLength = 120

## What framerate should the camera record at? Might cause issues extracting if not everybody is at the same framereate.
## It's not recommended to set this above 30, doing so will lead to crazy sizes.
# Setting type: Int32
# Default value: 24
ClipFramerate = 24

## What bitrate should the video get encoded in?
## This drastically effects the file quality. Vanilla videos are about 4mb in size after completion, Flashcard defaults can increase it to about 8mb.
## Set to empty to disable change the quality.
## Anything above 2000k/2M is excessive and shouldn't be used.
# Setting type: String
# Default value: 512k
ClipQuality = 512k

[Upgrades]

## Should allow the Extra Camera Upgrade?
# Setting type: String
# Default value: disabled
# Acceptable values: disabled, always
ExtraCamera = disabled

[Uploading]

## The delay between the packets for video chunk data being sent.
# Setting type: Single
# Default value: 0.5
DelayBetweenPackets = 0.5

